<a href="https://colab.research.google.com/github/gigiosbarbr/potifolio-giovane/blob/main/Assignment_12%20-%20Classifica%C3%A7%C3%A3o%20e%20Recomenda%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [204]:
import pandas as pd
import seaborn as sns

In [205]:
df_json = pd.read_json('/content/drive/MyDrive/Assignment 12/meta_Video_Games.json', lines=True, orient= 'records')
df_json_Game_sample = pd.read_json('/content/drive/MyDrive/Assignment 12/Video_Games_sample.json', lines=True, orient= 'records')

In [206]:
### Vamos primeiramente tratar a base do produto


df_json.head(5)

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,"[Video Games, PC, Games]",,[],,Reversi Sensory Challenger,[],,Fidelity Electronics,[],"[>#2,623,937 in Toys &amp; Games (See Top 100 ...",[],Toys &amp; Games,,,,0042000742,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN
1,"[Video Games, Xbox 360, Games, </span></span><...",,[Brand new sealed!],,Medal of Honor: Warfighter - Includes Battlefi...,[B00PADROYW],,by\n \n EA Games,[],"[>#67,231 in Video Games (See Top 100 in Video...","[B0050SY5BM, B072NQJCW5, B000TI836G, B002SRSQ7...",Video Games,,,"\n\t\t\t\t\t\t\t\t\t\t\t\t<span class=""vertica...",0078764343,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN
2,"[Video Games, Retro Gaming & Microconsoles, Su...",,[],,street fighter 2 II turbo super nintendo snes ...,[],,Nintendo,[],"[>#134,433 in Video Games (See Top 100 in Vide...",[],Video Games,,,$0.72,0276425316,[],[],NaN
3,"[Video Games, Xbox 360, Accessories, Controlle...",,[MAS's Pro Xbox 360 Stick (Perfect 360 Stick) ...,,Xbox 360 MAS STICK,[],,by\n \n MAS SYSTEMS,[Original PCB used from Xbox 360 Control Pad (...,"[>#105,263 in Video Games (See Top 100 in Vide...",[],Video Games,,,,0324411812,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN
4,"[Video Games, PC, Games, </span></span></span>...",,"[Phonics Alive! 3, The Speller teaches student...",,Phonics Alive! 3: The Speller,[],,by\n \n Advanced Software Pty. Ltd.,"[Grades 2-12, Spelling Program, Teaches Spelli...","[>#92,397 in Video Games (See Top 100 in Video...",[B000BCZ7U0],Video Games,,,,0439335310,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN

In [207]:
df_prod = df_json[['brand', 'feature','main_cat', 'price', 'asin', 'details']]

In [208]:
df_prod.head()

,brand,feature,main_cat,price,asin,details
0,Fidelity Electronics,[],Toys &amp; Games,,0042000742,NaN
1,by\n \n EA Games,[],Video Games,"\n\t\t\t\t\t\t\t\t\t\t\t\t<span class=""vertica...",0078764343,NaN
2,Nintendo,[],Video Games,$0.72,0276425316,NaN
3,by\n \n MAS SYSTEMS,[Original PCB used from Xbox 360 Control Pad (...,Video Games,,0324411812,NaN
4,by\n \n Advanced Software Pty. Ltd.,"[Grades 2-12, Spelling Program, Teaches Spelli...",Video Games,,0439335310,NaN

In [209]:
##### tratando as informações



df_prod['brand'] = df_prod['brand'].str.replace('\n', '')
# df_prod['feature'] = df_prod['feature'].str.replace('\n', '')
df_prod['main_cat'] = df_prod['main_cat'].str.replace('\n', '')
df_prod['price'] = df_prod['price'].str.replace('\n', '')

df_prod['price'] = df_prod['price'].str.replace('$', '')


df_prod['brand'] = df_prod['brand'].str.replace('\t', '')
# df_prod['feature'] = df_prod['feature'].str.replace('\t', '')
df_prod['main_cat'] = df_prod['main_cat'].str.replace('\t', '')
df_prod['price'] = df_prod['price'].str.replace('\t', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [210]:
df_prod.head()

,brand,feature,main_cat,price,asin,details
0,Fidelity Electronics,[],Toys &amp; Games,,0042000742,NaN
1,by EA Games,[],Video Games,"<span class=""verticalAlign a-size-large""",0078764343,NaN
2,Nintendo,[],Video Games,0.72,0276425316,NaN
3,by MAS SYSTEMS,[Original PCB used from Xbox 360 Control Pad (...,Video Games,,0324411812,NaN
4,by Advanced Software Pty. Ltd.,"[Grades 2-12, Spelling Program, Teaches Spelli...",Video Games,,0439335310,NaN

In [211]:
df_prod['price'] = df_prod['price'][pd.to_numeric(df_prod['price'], errors='coerce').notnull()]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [212]:
df_prod['brand'] = df_prod['brand'].str.replace('by ', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [213]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84819 entries, 0 to 84818
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   brand     84819 non-null  object
 1   feature   84819 non-null  object
 2   main_cat  84819 non-null  object
 3   price     15547 non-null  object
 4   asin      84819 non-null  object
 5   details   84712 non-null  object
dtypes: object(6)
memory usage: 3.9+ MB

In [214]:
df_prod

,brand,feature,main_cat,price,asin,details
0,Fidelity Electronics,[],Toys &amp; Games,NaN,0042000742,NaN
1,EA Games,[],Video Games,NaN,0078764343,NaN
2,Nintendo,[],Video Games,0.72,0276425316,NaN
3,MAS SYSTEMS,[Original PCB used from Xbox 360 Control Pad (...,Video Games,NaN,0324411812,NaN
4,Advanced Software Pty. Ltd.,"[Grades 2-12, Spelling Program, Teaches Spelli...",Video Games,NaN,0439335310,NaN
...,...,...,...,...,...,...
84814,Warner Bros.,[],Video Games,NaN,B01HJ1521Y,{}
84815,Warner Bros.,[DLC Requires base game],Video Games,NaN,B01HJ14TTA,{}
84816,Focus Home Interactive,[],Video Games,NaN,B01HJ14OT0,{}
84817,YTTL,[If you want to Replacement you Xbox one /360 ...,Video Games,NaN,B01HJC33WS,{}
84818,Zelotes,"[Customize DPI Switch: 1000/1500/2000/4000,the...",Computers,23.99,B01HJEBIAA,{}

In [215]:
df_prod.head(50)

df_prod = df_prod[['brand', 'main_cat', 'asin']]

In [216]:
df_prod['brand'].value_counts()

                          4027
       Electronic Arts    2612
       Activision         2292
       Nintendo           1931
       Sega               1569
                          ...
Zambeezi                     1
       Memcorp               1
       smartbuy              1
Kalron                       1
       Badland Games         1
Name: brand, Length: 9196, dtype: int64

In [217]:
df_json_Game_sample.head(50)

,overall,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,verified,vote,image
0,1,"01 2, 2018",A16FEXIKAPT24U,B00000JRSB,{'Format:': ' Video Game'},Nicholas Sabin,Game disc was cracked thats pretty lame,Game disc 1 was cracked,1514851200,NaN,NaN,NaN
1,5,"01 2, 2018",A3ISBEPYLY8IMO,B00000JRSB,{'Format:': ' Video Game'},Jimmy,Received this in perfect condition. Great rese...,Received this in perfect condition. Great rese...,1514851200,1.0,NaN,NaN
2,5,"12 21, 2017",A1RIUB1PZWLOVZ,B00000JRSB,{'Format:': ' Video Game'},Amazon Customer,I had a hard time finding this game locally or...,I am very pleased with this purchase,1513814400,1.0,NaN,NaN
3,5,"12 20, 2017",A2VY0K54SOCG0F,B00000JRSB,{'Format:': ' Video Game'},Oscentatious,This game is just as amazing as the first time...,This is the best deal for this game,1513728000,0.0,NaN,NaN
4,5,"12 19, 2017",A1ABJQ2REV14OQ,B00000JRSB,{'Format:': ' Video Game'},Thiago,"I bought as a gift for my friend, she is so ex...",Loved by lots of people,1513641600,1.0,NaN,NaN
5,5,"12 9, 2017",A368DF2G0T502X,B00000JRSB,{'Format:': ' Video Game'},Jonathan carter,"Looks good, some scratches on discs but plays.",Five Stars,1512777600,1.0,NaN,NaN
6,1,"12 6, 2017",A26HRB6XS7MUU1,B00000JRSB,{'Format:': ' Video Game'},Amazon Customer,"Bought this because of the black label, and th...",Game Didn't Play,1512518400,1.0,NaN,NaN
7,5,"10 8, 2017",A3UCHMOGED3DBF,B00000JRSB,{'Format:': ' Video Game'},monica hoffman,Can't believe they want 180 dollars for this g...,Awesome game!! :-) :-),1507420800,0.0,NaN,NaN
8,5,"09 26, 2017",A1ERAGX07MJYH2,B00000JRSB,{'Format:': ' Video Game'},Amazon Customer,everything perfect,Five Stars,1506384000,1.0,NaN,NaN
9,5,"09 26, 2017",A3SU243EZJ7BFH,B00000JRSB,{'Format:': ' Video Game'},Darius,"If you a fan of Final Fantasy, I hope you play...",A Start into a Great Franchise,1506384000,1.0,2,NaN
10,5,"09 25, 2017",A2FIIE8U52QJOU,B00000JRSB,{'Format:': ' Video Game'},Christopher Richard Berman,Best final fantasy IMO. i now own two copys,Five Stars,1506297600,1.0,NaN,NaN
11,4,"08 29, 2017",AA11F9J68TCUR,B00000JRSB,{'Format:': ' Video Game'},The Biz,"It's a good game, hell it's a great game but i...",Just One Thing,1503964800,0.0,NaN,NaN
12,5,"08 28, 2017",A3562CUJCAN1JW,B00000JRSB,{'Format:': ' Video Game'},David,A classic!,Five Stars,1503878400,NaN,NaN,NaN
13,5,"08 8, 2017",AF1XK2YMF5Z1M,B00000JRSB,{'Format:': ' Video Game'},Amazon Customer,The game is fantastic it works great,Five Stars,1502150400,NaN,NaN,NaN
14,4,"07 31, 2017",A2UILU1K5G869K,B00000JRSB,{'Format:': ' Video Game'},Furious clone,Great game but you need a memory card to save ...,Great but needs memory cards,1501459200,1.0,2,NaN
15,5,"07 27, 2017",AFLJ8IMC2ABWT,B00000JRSB,{'Format:': ' Video Game'},Brian Schwing,"Great story, great characters (except Cait Sit...","Great story, great characters (except Cait Sith)",1501113600,0.0,NaN,NaN
16,4,"07 5, 2017",A1H6IAYYAXTCE4,B00000JRSB,{'Format:': ' Video Game'},Hasasuki,I never got the chance to play this growing up...,Final Fantasy VII,1499212800,1.0,NaN,NaN
17,5,"06 1, 2017",A33D5PQ0THA4JG,B00000JRSB,{'Format:': ' Video Game'},Joe Musashi,Excellent product! A+,Five Stars,1496275200,1.0,NaN,NaN
18,1,"05 30, 2017",A233JA84XYFBW6,B00000JRSB,{'Format:': ' Video Game'},Amazon Customer,"Very disappointed, i already have the discs fo...",Feeling deceived,1496102400,1.0,6,[https://images-na.ssl-images-amazon.com/image...
19,5,"05 23, 2017",AHKCTYD9XZOMZ,B00000JRSB,{'Format:': ' Video Game'},Jesus R. Rios,very good item,Five Stars,1495497600,NaN,NaN,NaN
20,1,"05 9, 2017",A3BYAU6T2EBTAX,B00000JRSB,{'Format:': ' Video Game'},Ryu Sashimasu,I'm a little upset I recieved the package in a...,i got screwed,1494288000,1.0,NaN,NaN
21,5,"05 9, 2017",A23YP6DN8FIC4N,B00000JRSB,{'Format:': ' Video Game'},Vertigo &amp;amp;#34,Finally got my own original FFVII after a long...,The original FFVII,1494288000,1.0,NaN,NaN
22,4,"05 8, 2017",A2V420YDTJ6DHA,B00000JRSB,{'Format:': ' Video Game'},Eric,The 3 disks came stuck together in a single bl...,Zero Issues After a Month of Play,1494201600,1.0,NaN,NaN
23,5,"04 18, 2017",A3IRUK7Z3G8GBL,B00000JRSB,{'Format:': ' Video Game'},tim flanagan,AWESOME SELLER LOVE THIS GAME ONE OF MY FAVORITES,Five Stars,1492473600,NaN,NaN,NaN
24,5,"04 6, 2017",A3LM673XGIZU0U,B00000JRSB,{'Format:': ' Video Game'},Tandem Frost,For my sister.\n-Andrew Fernstrom,"Yes, Sir",1491436800,1.0,NaN,NaN
25,2,"04 5, 2017",A2N0QLZXJG1GUR,B00000JRSB,{'Format:': ' Video Game'},Amazon Customer,I paid extra because it said it had a booklet ...,Really,1491350400,1.0,NaN,NaN
26,5,"04 4, 2017",AKNGJCNFCP5EE,B00000JRSB,{'Format:': ' Video Game'},AM,This is a legend among video games a thousand ...,Five Stars,1491264000,1.0,NaN,NaN
27,5,"04 4, 2017",AMVD85DLRO58D,B00000JRSB,{'Format:': ' Video Game'},Karenia,The disks were very good condition.,Five Stars,1491264000,1.0,NaN,NaN
28,5,"03 19, 2017",A1K8J3FXTB256Z,B00000JRSB,{'Format:': ' Video Game'},James L. Milano,"Here it is, final fantasy seven, the seventh i...",Final dark illusive fantasy,1489881600,0.0,NaN,NaN
29,1,"03 15, 2017",A31ER2R21QSG0C,B00000JRSB,{'Format:': ' Video Game'},Debra V. Reitz,deff not worth 199 with it on steam even if it...,One Star,1489536000,NaN,NaN,NaN
30,5,"03 13, 2017",AME3Q9OQLTY3K,B00000JRSB,{'Format:': ' Video Game'},Walter Seals,Sharing with my 12 year old son. He talked jun...,He started playing it and fell in love with it,1489363200,1.0,7,NaN
31,4,"03 12, 2017",A14WV4ECH494RC,B00000JRSB,{'Format:': ' Video Game'},Jammie W.,Good game to the series,Four Stars,1489276800,1.0,NaN,NaN
32,5,"03 6, 2017",AZ0UGSCWWR0TE,B00000JRSB,{'Format:': ' Video Game'},mushin no shin,This game is amazing! The story is really intr...,This game is amazing!,1488758400,NaN,NaN,NaN
33,5,"02 10, 2017",A1J1ZUHD0ZNLWP,B00000JRSB,{'Format:': ' Video Game'},Timothy B.,Best game ever.,Still undefeated,1486684800,1.0,NaN,NaN
34,5,"12 31, 2016",A36MVNKQR4PIVX,B00000JRSB,{'Format:': ' Video Game'},thee Knights Templar,Got my copy from Gamer Girls Online. It came i...,Greatest Final Fantasy ever,1483142400,1.0,NaN,NaN
35,4,"12 28, 2016",A2EQH64QT03MLU,B00000JRSB,{'Format:': ' Video Game'},linda,Present,Four Stars,1482883200,1.0,NaN,NaN
36,5,"12 18, 2016",A23PRCK9974NFF,B00000JRSB,{'Format:': ' Video Game'},Jason J,"Great game, but sorry scalpers this game isn't...","Great game, but sorry scalpers this game isn't...",1482019200,0.0,NaN,NaN
37,5,"12 7, 2016",ANMPFSIJE5N5O,B00000JRSB,{'Format:': ' Video Game'},RPM,"love this game , a little disappointed i didn'...",love this game,1481068800,NaN,NaN,NaN
38,5,"12 6, 2016",A11ZEDK5T7HK7J,B00000JRSB,{'Format:': ' Video Game'},Rvn0101,The listing shows a picture of the original bl...,READ BEFORE BUYING!!!,1480982400,0.0,NaN,NaN
39,5,"12 3, 2016",A11YRWWXIQWJ4Y,B00000JRSB,{'Format:': ' Video Game'},Dante,The Greatest Game of all time. Got this game b...,Legen...wait for it....DARY!,1480723200,0.0,NaN,NaN
40,5,"11 18, 2016",AZZ3GFL1HTBLY,B00000JRSB,{'Format:': ' Video Game'},Curtis H,Excellent,Five Stars,1479427200,NaN,NaN,NaN
41,5,"10 29, 2016",A3C8665TYDFN2U,B00000JRSB,{'Format:': ' Video Game'},Amazon Customer,"Barely any visible scratches on disc 1, disc 2...",disc 2 and 3 has no scratches thankfully on on...,1477699200,1.0,NaN,NaN
42,1,"10 10, 2016",A3SF106VEP2IB9,B00000JRSB,{'Format:': ' Video Game'},Elizabeth Decicco,Did not work,One Star,1476057600,1.0,NaN,NaN
43,4,"10 5, 2016",A2T5HZC0546XZD,B00000JRSB,{'Format:': ' Video Game'},Amazon Customer,Very nice!,Four Stars,1475625600,1.0,NaN,NaN
44,5,"09 16, 2016",A23NB6TM6F50Y6,B00000JRSB,{'Format:': ' Video Game'},J. Kobialka,This game started it all for me. It was the g...,"revolutionary for its time, worth a play throu...",1473984000,0.0,NaN,NaN
45,5,"09 9, 2016",ALJRUGSYCMP69,B00000JRSB,{'Format:': ' Video Game'},Diggdaddy,Shame on those who hate on this game FF7 is am...,Shame on those who hate on this game FF7 is am...,1473379200,0.0,NaN,NaN
46,5,"09 4, 2016",A1JLJOU8I57H13,B00000JRSB,{'Format:': ' Video Game'},The Distinguished Anarchist,"Yes, you heard me. Final Fantasy VII...\n...is...",This game is not overrated.,1472947200,0.0,2,NaN
47,5,"08 25, 2016",A2O4QT59VHTV4H,B00000JRSB,{'Format:': ' Video Game'},Amazon Customer,"The game was received earlier than expected, w...",which is nice. It was packed correctly and loo...,1472083200,1.0,NaN,NaN
48,5,"08 21, 2016",A31DT0UK91IBK,B00000JRSB,{'Format:': ' Video Game'},Stephen,This is the best game in the world and the sel...,Brilliant,1471737600,1.0,NaN,NaN
49,5,"08 15, 2016",AV69OC9DNRV2U,B00000JRSB,{'Format:': ' Video Game'},Jonathan :D,"It came fast, had everything intact, and it wa...","Yay, I can finally play this now!",1471219200,1.0,NaN,NaN

In [218]:
# Filtrando os Valores de Verificado


filtro = df_json_Game_sample['verified'] == 1
df = df_json_Game_sample[filtro]

In [219]:
#### Trabalhando com as bases sem informações de verificado

filtro_2 = df_json_Game_sample['verified'].isnull()
df_nulos = df_json_Game_sample[filtro_2]

In [220]:
#### Base de Testes

filtro_3 = df_json_Game_sample['verified'].notnull()
df_tratamento = df_json_Game_sample[filtro_3]

In [221]:
df_tratamento = df_tratamento[['overall', 'asin', 'verified']]

In [222]:
df_tratamento.head()

   overall        asin  verified
1        5  B00000JRSB       1.0
2        5  B00000JRSB       1.0
3        5  B00000JRSB       0.0
4        5  B00000JRSB       1.0
5        5  B00000JRSB       1.0

In [223]:
df_tratamento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384546 entries, 1 to 453561
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   overall   384546 non-null  int64
 1   asin      384546 non-null  object
 2   verified  384546 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.7+ MB

In [224]:
df_final = pd.merge(df_tratamento, df_prod, on = 'asin')

In [225]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396734 entries, 0 to 396733
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   overall   396734 non-null  int64
 1   asin      396734 non-null  object
 2   verified  396734 non-null  float64
 3   brand     396734 non-null  object
 4   main_cat  396734 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 18.2+ MB

In [226]:
df_final.head()

   overall        asin  verified       brand     main_cat
0        5  B00000JRSB       1.0  SquareSoft  Video Games
1        5  B00000JRSB       1.0  SquareSoft  Video Games
2        5  B00000JRSB       1.0  SquareSoft  Video Games
3        5  B00000JRSB       1.0  SquareSoft  Video Games
4        5  B00000JRSB       0.0  SquareSoft  Video Games

In [227]:
from sklearn.model_selection import train_test_split

In [228]:
y = df_final['verified']

In [229]:
X = df_final.drop('verified', axis = 1)
X_dummie = pd.get_dummies(X, 'main_cat')
X = pd.concat([X_dummie, X], axis = 1).drop(['main_cat','brand'], axis = 1)

In [230]:
X

,overall,main_cat_B00000JRSB,main_cat_B00005NZ1G,main_cat_B00005O0I2,main_cat_B00005Q8M0,main_cat_B00005TNI6,main_cat_B000066TS5,main_cat_B0000696CZ,main_cat_B000087H7T,main_cat_B00008J7NZ,...,main_cat_Zacro,main_cat_Zelotes,main_cat_Zettaguard,main_cat_All Electronics,main_cat_Amazon Home,main_cat_Computers,main_cat_Sports & Outdoors,main_cat_Video Games,overall,asin
0,5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,5,B00000JRSB
1,5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,5,B00000JRSB
2,5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,5,B00000JRSB
3,5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,5,B00000JRSB
4,5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,5,B00000JRSB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396729,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,B01H6GUCCQ
396730,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,5,B01H6GUCCQ
396731,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,B01H6GUCCQ
396732,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,2,B01H6GUCCQ
396733,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,5,B01H6GUCCQ

In [231]:
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state = 42)

In [240]:
X_test = X_test.drop('asin', axis =1)
X_train = X_train.drop('asin', axis =1)

X_train

,overall,main_cat_B00000JRSB,main_cat_B00005NZ1G,main_cat_B00005O0I2,main_cat_B00005Q8M0,main_cat_B00005TNI6,main_cat_B000066TS5,main_cat_B0000696CZ,main_cat_B000087H7T,main_cat_B00008J7NZ,...,main_cat_ZD,main_cat_Zacro,main_cat_Zelotes,main_cat_Zettaguard,main_cat_All Electronics,main_cat_Amazon Home,main_cat_Computers,main_cat_Sports & Outdoors,main_cat_Video Games,overall
64572,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
180896,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,5
88476,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,5
339134,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,5
214864,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,5
365838,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4
131932,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,5
146867,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,5
121958,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2

In [241]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [242]:
KNN = KNeighborsClassifier()
KNN = KNN.fit(X_train, y_train)

In [ ]:

df_nulos = df_nulos[['overall', 'asin', 'verified']]
df_final = pd.merge(df_nulos, df_prod, on = 'asin')

y = df_final['verified']

X = df_final.drop('verified', axis = 1)
X_dummie = pd.get_dummies(X, 'main_cat')
X = pd.concat([X_dummie, X], axis = 1).drop(['main_cat','brand', 'asin'], axis = 1)

y_pred = KNN.predict(X)


df_nulos['verified_previsto'] = y_pred